/* CSS Document */

html, body
{
	padding: 0;
	margin: 0;
}
body
{
	font-family: Arial, Helvetica, Verdana;
	font-size: 16px;
	font-size: light;
	line-height: 22px;
	background: #FF8286;
	color: #fff;
	-webkit-text-size-adjust: none;
}
h1, h2, h3, h4, h5, h6
{
	line-height: 1;
	font-weight: bold;
	font-size: 40px;
	margin: 0 0 20px 0;
}
p
{
	margin: 0 0 20px 0;
}
a, a:hover
{
	color: #fff;
	text-decoration: underline;
	outline: none;
}

.mm-menu
{
	background: #fff;
}
.mm-menu, .mm-menu a
{
	color: #333;
}

.mm-page
{
	box-shadow: none !important;
}

.mm-menu h4
{
	font-size: 20px;
}

#tooltips
{
	display: none;
}

#page > div,
.mm-panel > div
{
	width: 75%;
	max-width: 650px;
	padding: 50px 20px;
	margin: 0 auto;
}
.mm-panel > div
{
	padding: 30px 0;
}
.tip a[href="#page"]
{
	border-radius: 10px;
	background: #ccc;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	line-height: 20px;
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 20px;
	right: 20px;
}